@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
    background-color: #e7e7de;
}

.title {
    font-family: 'Bungee Shade', cursive;
    color: #008891;
    font-size: 40px;
    text-align: center;
}

.title-bomb {
    font-family: 'Bungee Shade', cursive;
    color: #008891;
    font-size: 20px;
    text-align: center;
}

.buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttons button {
    border: 0;
    background: transparent;
    outline:0 !important;
}

.buttons i {
    color: #008891;
    background: transparent;
    font-size: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1.5px 1.5px 0px rgb(173, 173, 173);
}

.buttons i:hover {
    color: #00587a;
    background: transparent;
}

#winnerText {
    font-family: 'Bungee Shade', cursive;
    color: #008891;
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
}